:$PORT

root * /usr/share/caddy
file_server browse

tls internal

header {
    Permissions-Policy interest-cohort=()
    Strict-Transport-Security max-age=31536000;
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$ID/* {
    $ID $MYUUID-HASH
}

@websocket_xray_vless {
    header Connection *Upgrade*
    header Upgrade    websocket
    path /$ID-vless
}
reverse_proxy @websocket_xray_vless unix//etc/caddy/vless
